<!-- Модальное окно для отклика -->
<div class="modal fade" id="applicationModal{{vacancy.id}}" tabindex="-1" role="dialog" aria-labelledby="applicationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="applicationModalLabel">Откликнуться на вакансию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <form action="{% url 'send_response' vacancy.id %}" method="post" enctype="multipart/form-data">

            <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email адрес *</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="resume">Резюме (PDF, DOC, DOCX) *</label>
                        <input type="file" class="form-control-file" id="resume" accept=".pdf,.doc,.docx" name="resume" required>
                    </div>
                    <div class="form-group">
                        <label for="covering_letter">Сопроводительное письмо</label>
                        <textarea class="form-control" id="covering_letter" rows="4" name="covering_letter"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
                </form>
        </div>
    </div>
</div>
